$palette-warn-color: (
  50 : #ffece3,
  100 : #ffd0ba,
  200 : #ffb18c,
  300 : #ff925e,
  400 : #ff7a3c,
  500 : #ff6319,
  600 : #ff5b16,
  700 : #ff5112,
  800 : #ff470e,
  900 : #ff3508,
  A100 : #ffffff,
  A200 : #fff6f4,
  A400 : #ffcac1,
  A700 : #ffb4a7,
  K400 : #ff712d,
  K500 : #ff6319,
  K600 : #da552a,
  contrast: (
    50 : #652d86,
    100 : #652d86,
    200 : #652d86,
    300 : #652d86,
    400 : #652d86,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #652d86,
    A200 : #652d86,
    A400 : #652d86,
    A700 : #652d86,
  )
);
