$palette-primary-color: (
  50 : #ede6f0,
  100 : #d1c0db,
  200 : #b296c3,
  300 : #936caa,
  400 : #7c4d98,
  500 : #652d86,
  600 : #5d287e,
  700 : #532273,
  800 : #491c69,
  900 : #371156,
  A100 : #c98eff,
  A200 : #b15bff,
  A400 : #9928ff,
  A700 : #8c0eff,
  K100 : #ddd2e2,
  K400 : #73369e,
  K500 : #652d86,
  K600 : #4e256b,
  K700 : #4f2b68,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
    K100 : #000000,
    K400 : #ffffff,
    K500 : #ffffff,
    K600 : #ffffff
  )
);
