$palette-accent-color: (
  50 : #e0f6f2,
  100 : #b3e7de,
  200 : #80d8c9,
  300 : #4dc8b3,
  400 : #26bca2,
  500 : #00b092,
  600 : #00a98a,
  700 : #00a07f,
  800 : #009775,
  900 : #008763,
  A100 : #b3ffe7,
  A200 : #80ffd7,
  A400 : #4dffc7,
  A700 : #34ffbf,
  K400 : #00cc9b,
  K500 : #00b48c,
  K600 : #009974,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
